<div class="contents row">
  <%# <%= form_for('/articles', method: :post) do %>
  <% @article = Article.new unless @article %>
  <%= form_for(@article) do |f| %>
    <h3>
      投稿する
    </h3>
  <%= f.text_area :text, placeholder: "text", maxlength: "21"%>
  <%= f.submit "SENT" %>
  <% end %>
</div>