<div class="contents row" >
  <p><%= @name %>さんの投稿一覧</p>
  <% @articles.each do |article| %>
    <div class="content_post">
      <%= simple_format(article.text) %>
    </div>
  <% end %>
  <%= paginate(@articles) %>
</div>